@keyframes AnimationName
  0%
    background-position:0% 50%
  50%
    background-position:100% 50%
  100%
    background-position:0% 50%

@keyframes leDanceInMiddle
    16%
      transform skew(-7deg)
    33%
      transform skew(6deg)
    49%
      transform skew(-4deg)
    66%
      transform skew(3deg)
    83%
      transform skew(-2deg)
