doctype html
html(lang="ja")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(charset="utf-8")
    body
        #main_wrap.page-1
            //- h1.h1_wrap.txC
            //-   span
            //-     img(src="./img/font/H.png" alt="H")
            //-   span
            //-     img(src="./img/font/O.png" alt="O")
            //-   span
            //-     img(src="./img/font/M.png" alt="M")
            //-   span
            //-     img(src="./img/font/E.png" alt="E")
            //-   span
            //-     img(src="./img/font/G.png" alt="G")
            //-   span
            //-     img(src="./img/font/O.png" alt="O")
            //-   span
            //-     img(src="./img/font/L.png" alt="L")
            //-   span
            //-     img(src="./img/font/F.png" alt="F")
            h1.title HOME GOLF
            #page1
            #page2.none
