doctype html
html(lang="ja")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  head
    meta(charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js")
    script(src="https://cdn.jsdelivr.net/planck/0.1/planck-with-testbed.js")
  body.index
    .stage_name#stage_name
      span.weather
        .icon#weather_icon
      h2.city#city
      span.wind
        .icon#wind_icon
    #page1.none
    #page2.none
    .container
      canvas#stage
    .score#score
    .skill#skill
    form#form_area(action="/" method="POST")
      input#user_name(type="hidden" name="userName" value="")
      input#user_score(type="hidden" name="userScore" value="")
