doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
    body
        .stage_select
            .page_tag_area
                .tag_main
                    h2 ステージ選択
            .stage_container
                .stage_part#1th
                    .stage_view
                        .overlay_border.show
                .stage_part#2th
                    .stage_view
                        .overlay_border
                .stage_part#3th
                    .stage_view
                        .overlay_border
                .stage_part#4th
                    .stage_view
                        .overlay_border
                .stage_part#5th
                    .stage_view
                .stage_part#6th
                    .stage_view
            .stage_description#stage_description 1thステージを選択しています
            .form_area
                a.next_link#next_link(href="page2.html?stage_id=1th") NEXT
