@import "include/_reset.styl"
@import "include/_variable.styl"
@import "include/_mixin.styl"
@import "include/_keyframes.styl"

.txC
  text-align center

.none
  display none

#main_wrap
  width 100%
  height 100%
  position relative
  &.page-1,&.page-2
    background-color-animetion #14ff00, #f2ff86
  //page1
  .h1_wrap
    font-size 11vw
    letter-spacing 1vw
    padding 20% 0 10%
    font-family "aquino"
    color #ffa000
    contour #fff1da
    animation-duration 1s
    animation-fill-mode both
    span
      display inline-block
      animation leDanceInMiddle .55s ease infinite
      &:nth-child(1)
        animation-delay 0ms
      &:nth-child(2)
        animation-delay 250ms
      &:nth-child(3)
        animation-delay 500ms
      &:nth-child(4)
        animation-delay 750ms
        padding 0 30px 0 0
      &:nth-child(5)
        animation-delay 1000ms
      &:nth-child(6)
        animation-delay 1250ms
      &:nth-child(7)
        animation-delay 1500ms
      &:nth-child(8)
        animation-delay 1750ms
  .user_wrap
    font-size 3vw
    padding 4% 0 0
  .connect
    display block
    width 40%
    margin 10% auto 0
    padding 3%
    font-size 6vw
    position relative
    font-weight bold
    text-decoration none
    color #ffa000
    background #fff1da
    border-bottom solid 10px #ffa000
    border-radius 15px 15px 0 0
    &.page2
      margin 0 auto
  //page2
  .char_set
    .result_wrap
      width 100%
      padding 2% 0 0
      box-sizing border-box
      text-align center
      position relative
      > div
        // display table
        width 450px
        height 450px
        margin 0 auto
        font-size 10vw
        // background #ff0
        hidden_test()
        &.char1
          background-image url(../img/1.png)
          background-size 100% auto
        &.char2
          background-image url(../img/2.png)
          background-size 100% auto
        &.char3
          background-image url(../img/3.png)
          background-size 100% auto
        &.char4
          background-image url(../img/4.png)
          background-size 100% auto
  .btn_wrap
    display block
    width 500px
    margin 0 auto
    button
      button_delete()
      display inline-block
      width 50px
      height 50px
      border-radius 50%
      border 2px solid #000
      margin 30px 100px 50px 0
      cursor pointer
      font-size 3vw
      color #000
      background #fff
      box-sizing border-box
      &:last-child
        margin 0

//page3
.index
    height 100vh
    padding 30px 0 0 0
    box-sizing  border-box
    background-color #009365
    .stage_name
        width 650px
        height 100px
        margin 0 auto
        padding 10px 30px
        box-sizing border-box
        border-radius 50px
        background-color #f8f8f8
        &::after
            display block
            clear both
            content ''
        > *
            display block
            float left
        .weather
            width 80px
            height 80px
            padding 15px
            box-sizing border-box
            border-radius 50%
            background-color #f57979
            .icon
                width 50px
                height 50px
                background-size contain
            .clear
                background-image url('../img/icon_clear.png')
            .cloud
                background-image url('../img/icon_cloud.png')
            .rain
                background-image url('../img/icon_rain.png')
            .snow
                background-image url('../img/icon_snow.png')
        .wind
            width 80px
            height 80px
            padding 15px
            box-sizing border-box
            border-radius 50%
            background-color #009365
            .icon
                width 50px
                height 50px
                background-image url('../img/icon_wind.png')
                background-size contain
            .wind_n
                transform rotate(0deg)
            .wind_ne
                transform rotate(45deg)
            .wind_e
                transform rotate(90deg)
            .wind_se
                transform rotate(135deg)
            .wind_s
                transform rotate(180deg)
            .wind_sw
                transform rotate(225deg)
            .wind_w
                transform rotate(270deg)
            .wind_nw
                transform rotate(315deg)
        .city
            width 430px
            height 80px
            line-height 80px
            text-align center
            font-size 45px
            color #444


    .container
        width 90%
        height auto
        margin 30px auto 0 auto
        border 5px solid #f5f5f5
        box-sizing border-box
        border-radius 10px
    #stage
        width 100%
        background-color #009365 !important
