@import "include/_reset.styl"
@import "include/_variable.styl"
@import "include/_mixin.styl"
@import "include/_keyframes.styl"

html,body
    height 100%

.txC
    text-align center

.none
    display none

#main_wrap
    width 100%
    height 100%
    position relative
    &.page-1,&.page-2
        background-color #009365
    > div
        width 100%
        height 100%
    /////////////////////////////////////////////////////////
    //page1
    &.page-1
        .title
            position absolute
            top 0
            right 0
            bottom 0
            left 0
            height 100px
            margin auto
            text-align center
            font-size 100px
            color #f5f5f5

    /////////////////////////////////////////////////////////
    //page2
    .char_set
        position relative
        height 100%
        .page_tag_area
            width 100%
            height 100px
            padding 30px 0 0 0
            box-sizing border-box
            .tag_main
                width 100%
                height 100%
                background-color #eb974e
                > h2
                    width 900px
                    height 100%
                    margin 0 auto
                    padding 0 0 0 112px
                    line-height 70px
                    font-size 36px
                    font-weight bold
                    color #f5f5f5
        .result_wrap
            > div
                width 900px
                height 410px
                margin 0 auto
                box-sizing border-box
                &::after
                    content ''
                    clear both
                    display block
                .left,.right
                    width 50%
                    height 100%
                    padding 30px 50px
                    box-sizing border-box
                    float left
                .left
                    .skill_image01,.skill_image02,.skill_image03,.skill_image04
                        width 100%
                        height 100%
                        border 10px solid #f5f5f5
                        box-sizing border-box
                        border-radius 70px
                        background-size contain
                    .skill_image01
                        background-image url('../img/1.png')
                    .skill_image02
                        background-image url('../img/2.png')
                    .skill_image03
                        background-image url('../img/3.png')
                    .skill_image04
                        background-image url('../img/4.png')
                .right
                    .item
                        display block
                        width 200px
                        height 50px
                        margin 7% 0 5%
                        font-size 20px
                        color #ffa000
                        font-weight bold
                        text-align center
                        line-height 50px
                        border 2px solid #ffa000
                        border-radius 10px
                        background #fff
                    .skill
                        display block
                        padding 0 0 0 20px
                        font-size 18px
                        font-weight bold
                        color #f5f5f5

        .btn_wrap
            display block
            width 100%
            margin 0 auto
            padding 20px 0
            box-sizing border-box
            background-color #55ac91
            .btn_inline_wrap
                width 400px
                height 100%
                margin 0 auto
                button
                    button_delete()
                    display inline-block
                    width 70px
                    height 70px
                    margin 0 0 0 40px
                    cursor pointer
                    color #000
                    box-sizing border-box
                    &:first-child
                        margin 0
                    .button_image01,.button_image02,.button_image03,.button_image04
                        width 100%
                        height 100%
                        box-sizing border-box
                        border-radius 15px
                        background-size contain
                    .forcus
                        border 5px solid #f5f5f5
                    for i in 1..4
                        .button_image0{i}
                            background-image url('../img/'+i+'.png')

        .form_area
            position absolute
            right 0
            bottom 30px
            left 0
            margin auto
            text-align center
            .connect
                width 300px
                height 80px
                border-bottom solid 10px #ffa000
                border-radius 10px 10px 0 0
                font-size 28px
                font-weight bold
                text-decoration none
                letter-spacing 4px
                color #ffa000
                background #fff1da

//page3
.index
    position relative
    height 100vh
    padding 30px 0 0 0
    box-sizing  border-box
    background-color #009365
    .stage_name
        width 650px
        height 100px
        margin 0 auto
        padding 10px 30px
        box-sizing border-box
        border-radius 50px
        background-color #f8f8f8
        &::after
            display block
            clear both
            content ''
        > *
            display block
            float left
        .weather
            width 80px
            height 80px
            padding 15px
            box-sizing border-box
            border-radius 50%
            background-color #f57979
            .icon
                width 50px
                height 50px
                background-size contain
            .clear
                background-image url('../img/icon_clear.png')
            .cloud
                background-image url('../img/icon_cloud.png')
            .rain
                background-image url('../img/icon_rain.png')
            .snow
                background-image url('../img/icon_snow.png')
        .wind
            width 80px
            height 80px
            padding 15px
            box-sizing border-box
            border-radius 50%
            background-color #009365
            .icon
                width 50px
                height 50px
                background-image url('../img/icon_wind.png')
                background-size contain
            .wind_n
                transform rotate(0deg)
            .wind_ne
                transform rotate(45deg)
            .wind_e
                transform rotate(90deg)
            .wind_se
                transform rotate(135deg)
            .wind_s
                transform rotate(180deg)
            .wind_sw
                transform rotate(225deg)
            .wind_w
                transform rotate(270deg)
            .wind_nw
                transform rotate(315deg)
        .city
            width 430px
            height 80px
            line-height 80px
            text-align center
            font-size 45px
            color #444


    .container
        width 90%
        height auto
        margin 30px auto 0 auto
        border 5px solid #f5f5f5
        box-sizing border-box
        border-radius 10px
    #stage
        width 100%
        background-color #009365 !important

    .score
        position absolute
        bottom 30px
        width 100%
        height 60px
        line-height 60px
        text-align center
        font-size 24px
        font-weight bold
        letter-spacing 1.5px
        background-color #eb974e
        color #f5f5f5
        > span
            padding 0 10px
            font-size 32px
    .skill
        position absolute
        bottom 15px
        left 5%
        width 110px
        height 110px
        border-radius 20px
        background-color #eb974e
        background-size 100px 100px
        background-position center
        background-repeat no-repeat
    .skill_1
        background-image url('../img/1.png')
    .skill_2
        background-image url('../img/2.png')
    .skill_3
        background-image url('../img/3.png')
    .skill_4
        background-image url('../img/4.png')
